<header>
    <button (click)="mainPage()" mat-raised-button style="margin: 10px;width:100px;">Main Page</button>
    <button (click)="logOut()" mat-raised-button style="width:100px;">Log Out</button>
  </header>

<div class="profile-div">
  <div class="watchlist-div">
      <h2>Watchlist</h2>
      <ul *ngFor="let title of currentFavs;">
          <li>{{title}}</li>
      </ul>
  </div>
  <div>
      <div class="details-div">
          <h2>Current Details</h2>
          <p>Username: {{currentUser.Username}}</p>
          <p>Email: {{currentUser.Email}}</p>
          <p>Birth_date: {{currentUser?.Birth_date | date }}</p>
      </div>
      <mat-card>
          <mat-card-header>
              <mat-card-title>Edit Your Profile</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <form>
                  <mat-form-field>
                      <input matInput [(ngModel)]="userData.Username" type="text" placeholder="Username"
                          name="Username">
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password"
                          name="Password">
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email">
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput [(ngModel)]="userData.Birth_date" type="date" placeholder="Birth_date"
                          name="Birth_date">
                  </mat-form-field>
              </form>
          </mat-card-content>
          <mat-card-actions style="text-align: center; margin-bottom: 5px;">
              <button mat-raised-button (click)="editUserInfo()" color="primary">
                  Save Changes
              </button>
          </mat-card-actions>
      </mat-card>
  </div>
</div> 